/*** ——————————————————————————————————————————————————————————————————————
Google Fonts
—————————————————————————————————————————————————————————————————————— *****/

@import url('https://fonts.googleapis.com/css?family=Catamaran:700,900|Muli:300,400,600,700&display=swap');

/***** ——————————————————————————————————————————————————————————————————————
Global Styles
—————————————————————————————————————————————————————————————————————— *****/

/* Basic Settings */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font: 300 16px 'Muli', sans-serif;
	line-height: 1.5;
	color: #2f2f2f;

	background-color: #f7f7f7;

	min-width: 320px;
}
ul {
	margin: 0;
	padding-left: 0;
}
ul li {
	list-style: none;
}
input,
textarea,
button:focus {
	outline: none;
}
button {
	border: none;
}
a:hover {
	text-decoration: none;
}

/* Extra Classes */
.img-fluid {
	display: block;
	max-width: 100%;
	height: auto;
}
.wrapper,
.wrapper--second {
	width: 100%;
	max-width: 1290px;
	padding: 0 15px;
	margin: 0 auto;
}
.wrapper--second {
	max-width: 1710px;
}

/* Basic Styles For Sections */
.s-padding {
	padding: 7em 0 8.5em; /*136px 0*/
}
.s-title {
	font: 900 3.75em 'Catamaran', sans-serif;
	text-transform: uppercase;
	color:#2f2f2f;
}
.s-item-text {
	display: block;
	margin: 2rem 0 .7rem;

	font-size: .875em;
	color: #565656;
}
.s-item-title {
	font: 900 1.5em 'Catamaran', sans-serif;
	line-height: 1.15;
	color: #333;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Header
—————————————————————————————————————————————————————————————————————— *****/

.header {
	background: #366092 url(../images/header/header-bg.jpg) no-repeat center / cover;
	height: 100vh;
	min-height: 750px;
	max-height: 1080px;
}

/* top-line */
.top-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0;
}
.nav {
	display: flex;
}
.nav a {
	font: 700 1em 'Muli', sans-serif;
	color: #fff;
	position: relative;

	transition: color .2s linear;
}
.nav a:not(:last-child) {
	margin-right: 2.8em;
}
.nav a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -.4em;

	width: 100%;
	height: .2em;

	background-color: #ff660d;
	border-radius: .2em;

	transform: scale(0);
	transform-origin: 0;
	transition: transform .2s linear;
}
.nav a:hover {
	color: #ff660d;
}
.nav a:hover::after {
	transform: scale(1);
}

/* header-content */
.header-suptitle,
.header-title {
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	line-height: .9;
}
.header-suptitle {
	font-size: 1.85em;
	letter-spacing: .05em;
	color: #81aac9;

	margin-top: 2rem;
}
.header-title {
	font-size: 14em; /*прогрессивный размер - font-size: calc(10em + 4vw);*/
	letter-spacing: -0.04em;
	color: #66aecd;

	background: linear-gradient(90deg, #4882bd, #66aecd, #4882bd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin-bottom: 4.5rem;
}
.header-text {
	font: 400 1.4em 'Muli', sans-serif;
	line-height: 1.5;
	color: #fefefe;

	width: 100%;
	max-width: 615px;
	margin-bottom: 3rem;
}
.btn {
	display: inline-block;
	font: 700 1.125em 'Catamaran', sans-serif;
	text-transform: uppercase;
	color: #fefefe;

	background-color: #ff660d;
	border-radius: .3em;
	padding: .8em 2.5em;

	transition: background .15s linear;
}
.btn:hover {
	color: #fefefe;
	background-color: #f45107;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Offers
—————————————————————————————————————————————————————————————————————— *****/

.s-offers {
	text-align: center;
}
.offer-text {
	font-size: 1.125em;
	color: #565656;

	max-width: 930px;
	margin: 0 auto;
}

/* our-offers */
.our-offers {
	display: flex;
	justify-content: space-around;

	text-transform: uppercase;
	margin-top: 4rem;
}
.our-offers-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-basis: 240px;
}
.btn--offers {
	font-size: .938em;

	padding: .8em 1.5em;
	margin-top: 1rem;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Gallery
—————————————————————————————————————————————————————————————————————— *****/

.gallery {
	display: flex;
	justify-content: center;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Crew
—————————————————————————————————————————————————————————————————————— *****/

.s-crew {
	text-align: center;
	text-transform: uppercase;
}

/* our-instrustors */
.our-instrustors {
	display: flex;
	justify-content: space-between;

	margin-top: 2rem;
}
.instructor img {
	border-radius: 10em;
}
.instructor .s-item-title {
	margin-bottom: 0;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: About Us
—————————————————————————————————————————————————————————————————————— *****/

.s-about-us {
	background: #beccdd url(../images/about-us/about-us-bg.jpg) no-repeat center / cover;
}
.s-about-us .s-title {
	line-height: 1.2;
	margin-bottom: 2rem;
}
.about-us-text {
	font-size: 1.125em;
	line-height: 1.9;
	color: #2b2b2b;

	max-width: 800px;
	margin-bottom: .5rem;
}

/* about-us-stats */
.about-us-stats {
	text-transform: uppercase;
	margin-top: 3.5rem;
}
.stats-item {
	display: inline-block;
}
.stats-item:not(:last-child) {
	margin-right: 6rem;
}
.stats-item span {
	display: block;
}
.stats-number {
	font: 900 4em 'Catamaran', sans-serif;
	line-height: 1.1;
	color: #ff660d;
}
.stats-text {
	font: 600 1.125em 'Muli', sans-serif;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Testimonials
—————————————————————————————————————————————————————————————————————— ****/

.s-testimonials {
	text-align: center;
}

/* owl-carousel */
.owl-carousel {
	margin-top: 2rem;
}
.owl-theme .owl-dots .owl-dot span {
	width: 13px;
	height: 13px;
	margin: 5px 9px;

	background: #d1d8df;
	transition: background .1s linear;
}
.owl-theme .owl-dots .owl-dot:hover span {
	background: #333;
}
.owl-theme .owl-dots .owl-dot.active span {
	background: #ff660d;
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 35px;
}
.owl-carousel .owl-item img {
	display: initial;
	width: initial;
}

/* testimonials-item */
.testimonials-item {
	padding: 0 15px;
}
.testimonials-item img {
	border-radius: 10em;
}
.client-name {
	font: 900 1.125em 'Catamaran', sans-serif;
	text-transform: uppercase;
	color: #333;

	display: table;
	margin: 1rem auto 1.5rem auto;
	position: relative;
}
.client-name::before,
.client-name::after {
	content: '';
	width: 50px;
	height: 36px;
	position: absolute;
	top: -35px;
	left: -65px;

	background: url(../images/testimonials/quote-left.png) no-repeat;
}
.client-name::after {
	left: initial;
	right: -65px;
	background: url(../images/testimonials/quote-right.png) no-repeat;
}
.testimonials-text {
	font-size: 1.125em;
	line-height: 1.9;

	max-width: 800px;
	margin: 0 auto;
}

/***** ——————————————————————————————————————————————————————————————————————
Section: Footer
—————————————————————————————————————————————————————————————————————— *****/

.footer {
	background-color: #2f2f2f;
	position: relative;
}
.footer::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 60%;

	background: url(../images/footer/footer-map.jpg) no-repeat center / cover;
}
.footer-contacts {
	padding: 4.325em 0 5.7em;
}
.footer-contacts .s-title {
	color: #fff;
	margin-bottom: 1.5rem;
}

/* footer-address */
.footer-address {
	font-size: 1.125em;
	text-transform: uppercase;
	color: #f7f7f7;

	margin-bottom: 3.5rem;
}
.footer-address p {
	position: relative;
	margin: 0 0 1.6rem 2.6rem;
}
.footer-address p i {
	position: absolute;
	top: .27em;
	left: -1.9em;
	margin-right: 1em;

	color: #ff660d;
}

/* footer-social-links */
.footer-social-links {
	margin-left: .2rem;
}
.footer-social-links a {
	font-size: 1.8em;
	color: #979797;

	transition: color .1s linear;
}
.footer-social-links a:hover {
	color: #fff;
}
.footer-social-links a:not(:last-child) {
	margin-right: 2rem;
}

/***—————————— toTop button ——————————***/
.toTop {
	position: fixed;
	right: -100px;
	bottom: 25px;
	z-index: 1;

	width: 50px;
	height: 50px;

	font-size: 1.4em;
	line-height: 50px;
	text-align: center;
	color: #fff;

	background-color: #666;
	border-radius: 10em;
	opacity: .7;
	transition: all .25s linear;
}
.toTop:hover {
	opacity: 1;
	cursor: pointer;
}
.toTop-active {
	right: 25px;
}
